.drink{
    background-color: white;
    border-radius: 0;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 50%);
    border-radius: 10px 10px 0 0;
}

.drink a {
    text-decoration: none;
}

.drink a h3{
    padding: 0 10px;
    text-align: center;
    color: black;
}

.drink img{
    max-width: 100%;
    display: block;
    border-radius: 10px 10px 0 0;
}