@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Regular.ttf);
}

.App{
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f7f7f7;
}

* {
  font-family: "Roboto";
}

header {
  background-color: white;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 0;
  font-weight: 400;
}